/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: #292b2c;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
header {
    font-size: 2rem;
    margin: 1rem 0;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
}

.todo-input,
#todo-deadline {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

textarea {
    resize: vertical;
    min-height: 2rem;
}

.todo-button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.25rem;
    color: rgb(255, 200, 0);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-button:hover {
    color: white;
    background: rgb(255, 200, 0);
}

.select {
    width: 100%;
    margin: 1rem 0;
    position: relative;
}

select {
    width: 100%;
    color: rgb(255, 200, 0);
    height: 2.5rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(255, 200, 0);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: rgb(255, 200, 0);
}

/* Todo Container Styles */
.todo-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Todo List Styles */
.todo-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow-x: auto;
}

/* Todo Item Styles */
.todo {
    flex: 1;
    padding: 1rem;
    background: #fff;
    color: #333;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo div {
    margin: 0.5rem 0;
}

.todo-name,
.todo-description,
.todo-deadline {
    flex: 1;
}

/* Todo Options Styles */
.todo-options {
    display: flex;
    gap: 0.5rem;
}

.complete-btn,
.trash-btn {
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.complete-btn {
    background: rgb(255, 200, 0);
}

.trash-btn {
    background: rgb(171, 171, 171);
}

/* Completed Todo Styles */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Hover Effect on Todo Items */
.todo:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Filter Todo Styles */
.filter-todo {
    width: 100%;
    margin: 1rem 0;
    color: rgb(255, 200, 0);
    height: 2.5rem;
    cursor: pointer;
    padding: .5rem;
    border: none;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.1);
}
